* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 750px) {
  #cards_container {
    width: 60%;
  }
  #cards_container {
    padding: 20px;
  }
}
@media (max-width: 450px) {
  #cards_container {
    width: 100%;
  }
}

body {
  background-color: #f7fef2;
  font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

/* Header Styling */
.header {
  text-align: center;
}

/* Search Bar Styling */
#search-bar input[type="text"] {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid green;
}

#search-bar {
  margin-top: 20px;
  text-align: center;
}

#search-bar input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  margin: 1em;
}
